html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;

}

#Article{

    width: 1024px;
    margin: 50px auto 0 auto;
    transition: all 0.3s;

}

#Picture{

    width: 100%;
    height: 100%;
    transition: all 0.3s;

}

#words {

    margin-top: 50px;
    font-size: 75px;

    div {

        float: left;
        display: inline-block;
        text-align: center;

    }


}

#babis {

    width: 50%;


}

#pravda {

    width: 50%;


}

#slider {

    position: fixed;
    bottom: 50px;
    left: 0;

}

.vertical_right {

    /* FF Chrome Opera etc */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    /* IE */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);

    writing-mode: vertical-lr;
    -ms-writing-mode: bt-lr; /* IE8 */
    transition: all 0.3s;
    max-height: 30px;

}

.vertical_left {

    /* FF Chrome Opera etc */
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    /* IE */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);

    writing-mode: vertical-lr;
    -ms-writing-mode: bt-lr; /* IE8 */
    transition: all 0.3s;
    max-height: 30px;
    line-height: 30px;

}

.horizontal_reverse{

    /* FF Chrome Opera etc */
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    /* IE */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);

    writing-mode: vertical-lr;
    -ms-writing-mode: bt-lr; /* IE8 */
    transition: all 0.3s;
    max-height: 30px;
    line-height: 30px;

}
.horizontal_normal {

    /* FF Chrome Opera etc */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    /* IE */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);

    writing-mode: vertical-lr;
    -ms-writing-mode: bt-lr; /* IE8 */
    transition: all 0.3s;
    max-height: 30px;
    line-height: 30px;

}

.word {


}


#Text {

    font-size: 40px;
    width: 325px;

}

#Slovo {

    width: 501px;
    margin: 15% auto 0 auto;
    text-align: center;
    transition: font-weight .4s ease-in-out;
    font-weight: 100;


    .word {

        font-size: 150px;
        transition: font-weight .4s ease-in-out;

    }

    .bold {

        font-weight: 900;
        transition: font-weight .4s ease-in-out;

    }


}


#Slovo2 {

    width: 501px;
    margin: 15% auto 0 auto;
    text-align: center;
    -webkit-transition: font-weight .4s ease-in-out, font-family .2s ease;
    transition: font-weight .4s ease-in-out, font-family .2s ease;

    font-weight: 100;


    .word2 {

        font-size: 150px;
        transition: font-weight .4s ease-in-out;

    }

    .bold {

        font-weight: 900;
        transition: font-weight .4s ease-in-out;

    }

    .fontChange1 {

        //font-family: 'Anton', sans-serif;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        letter-spacing: -150px;
        font-size: 250px;
    }

    .fontChange2 {

        //font-family: 'Arial', sans-serif;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;

    }


}


#Slovo4 {

    width: 501px;
    margin: 15% auto 0 auto;
    transition: all 1s;

    .word4 {

        font-size: 150px;


    }

    .color1 { color: black; background-color: transparent; transition: all 1s; }
    .color2 { color: white; background-color: black; transition: all 1s; }


}

#Slovo5, #Slovo6 {


    svg,
    .wrapper {
        position: absolute;
        width: 600px;
        height: 230px;
    }

    .wrapper {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: svg-sizes 3s infinite linear alternate;
        overflow: hidden;
    }

    .svg-visible {
        animation: svg-move 3s infinite linear alternate;
    }

    text {
        font: 16em/1 'Russo One', Impact;
    }

    @keyframes svg-sizes {
        0% {
            width: 0;
            height: 0;
            opacity: 0;
        }
        10% {
            width: 0;
            height: 0;
            opacity: 0;
        }
        35% {
            opacity: .6;
            width: 600px;
            height: 1%;
        }
        50% {
            opacity: 1;
            width: 600px;
            height: 230px;
        }
    }
    @keyframes svg-move {
        0% {
            top: -115px;
            left: -300px;
        }
        10% {
            top: -115px;
            left: -300px;
        }
        35% {
            top: -115px;
            left: 0;
        }
        50% {
            top: 0;
            left: 0;
        }
    }

    .container {



    }

    .content {

        width: 501px;
        margin: 15% auto 0 auto;
        transition: all 1s;

    }

    svg {
        width: 600px;
        display: block;
        text-transform: uppercase; }


    .text {
        fill: none;
        stroke-width: 10;
        stroke-linejoin: round;
        stroke-dasharray: 70 330;
        stroke-dashoffset: 0;
        -webkit-animation: stroke 6s infinite linear;
        animation: stroke 6s infinite linear; }
    .text:nth-child(5n + 1) {
        stroke: #F2385A;
        -webkit-animation-delay: -1.2s;
        animation-delay: -1.2s; }
    .text:nth-child(5n + 2) {
        stroke: #F5A503;
        -webkit-animation-delay: -2.4s;
        animation-delay: -2.4s; }
    .text:nth-child(5n + 3) {
        stroke: #E9F1DF;
        -webkit-animation-delay: -3.6s;
        animation-delay: -3.6s; }
    .text:nth-child(5n + 4) {
        stroke: #56D9CD;
        -webkit-animation-delay: -4.8s;
        animation-delay: -4.8s; }
    .text:nth-child(5n + 5) {
        stroke: #3aa1bf;
        -webkit-animation-delay: -6s;
        animation-delay: -6s; }

    @-webkit-keyframes stroke {
        100% {
            stroke-dashoffset: -400; } }
    @keyframes stroke {
        100% {
            stroke-dashoffset: -400; } }

}

#Slovo6 {

    svg,
    .wrapper {
        position: absolute;
        width: 1024px;
        height: 768px;
    }

    .wrapper {
        top: 25%;
        animation: svg-sizes 3s infinite linear alternate;
        overflow: hidden;
    }

    .svg-visible {
        animation: svg-move 3s infinite linear alternate;
    }

    text {
        font: 28em 'Russo One', Impact;
    }

    @keyframes svg-sizes {
        0% {
            width: 0;
            height: 0;
            opacity: 0;
        }
        10% {
            width: 0;
            height: 0;
            opacity: 0;
        }
        35% {
            opacity: .6;
            width: 600px;
            height: 1%;
        }
        50% {
            opacity: 1;
            width: 600px;
            height: 230px;
        }
    }
    @keyframes svg-move {
        0% {
            top: -115px;
            left: -300px;
        }
        10% {
            top: -115px;
            left: -300px;
        }
        35% {
            top: -115px;
            left: 0;
        }
        50% {
            top: 0;
            left: 0;
        }
    }

    .container {



    }

    .content {

        width: 600px;
        transition: all 1s;

    }

    svg {
        width: 600px;
        display: block;
        text-transform: uppercase; }


    .text {
        fill: none;
        stroke-width: 10;
        stroke-linejoin: round;
        stroke-dasharray: 70 330;
        stroke-dashoffset: 0;
        -webkit-animation: stroke 6s infinite linear;
        animation: stroke 6s infinite linear; }
    .text:nth-child(5n + 1) {
        stroke: #F2385A;
        -webkit-animation-delay: -1.2s;
        animation-delay: -1.2s; }
    .text:nth-child(5n + 2) {
        stroke: #F5A503;
        -webkit-animation-delay: -2.4s;
        animation-delay: -2.4s; }
    .text:nth-child(5n + 3) {
        stroke: #E9F1DF;
        -webkit-animation-delay: -3.6s;
        animation-delay: -3.6s; }
    .text:nth-child(5n + 4) {
        stroke: #56D9CD;
        -webkit-animation-delay: -4.8s;
        animation-delay: -4.8s; }
    .text:nth-child(5n + 5) {
        stroke: #3aa1bf;
        -webkit-animation-delay: -6s;
        animation-delay: -6s; }

    @-webkit-keyframes stroke {
        100% {
            stroke-dashoffset: -400; } }
    @keyframes stroke {
        100% {
            stroke-dashoffset: -400; } }

}


#Slovo7 {

    transition: all 1s;
    height: 100%;

    .word7 {

        font-size: 150px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;

    }

}

#Slovo8 {

    .stroke {
        margin: 0;
        font: 250px 'Arial', serif;

        svg {
            display: block;
        }

        text {
            stroke: black;
            stroke-width: 4;
        }
    }

    h1 {
        margin: 0 0 0.5em;
        font-size: 2em;
        font-weight: 700;
        line-height: 1;
    }


}

#PictureBody {

    .rotateCheat {

        /* FF Chrome Opera etc */
        -webkit-transform: rotate(0deg)!important;
        -moz-transform: rotate(0deg)!important;
        -o-transform: rotate(0deg)!important;

        transition: all 0.5s;

    }

    #Slider {

        position: fixed;
        top: 15px;
        left: 5%;
        width: 90%;
        z-index: 1000;

    }

    #StartBox {

        font-size: 20px;

        .zIndex {

            z-index: 10;

        }

    }

    #DistanceValue {

        position: fixed;
        bottom: 5px;
        right: 5px;
        z-index: 1000;
        font-size: 20px;
        font-weight: bold;


    }

}